<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>图书管理系统图书回收站页</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
     <style type="text/css">
      .fl{
        float: left;
        margin-left: 1.5em;
      }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <form >
            <input type="text" placeholder="请搜索" name="text">
            <button type="submit" id="sousuo" class="btn btn-sm btn-primary">搜索</button>
          </form>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item dropdown">
                <a class="nav-link navbar-toggler" href="#">{:session('admin.username')}！欢迎您！</a>
            </li>
            <li class="">
                <a class="nav-link navbar-toggler aside-menu-toggler" href="#" id="logout">退出</a>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('admin/index/index')}"><i class="icon-speedometer"></i> 后台首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('admin/cate/add')}"><i class="icon-puzzle"></i>类目添加</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{:url('admin/cate/index')}"><i class="icon-star"></i> 类目列表</a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">类目回收站</li>
        </ol>
        <a href="{:url('admin/book/index',['id' => $id])}" class="btn btn-info fl" role="button">返回</a>
        <br>
          <div class="card-block pb-0">
            <div class="card">
              <table class="table table-hover table-outline mb-0 hidden-sm-down">
               <thead class="thead-default">
                  <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">类目名称</th>
                  <th class="text-center">图书名称</th>
                  <th class="text-center">图书简介</th>
                  <th class="text-center">删除时间</th>
                  <th class="text-center">操作</th>
                  </tr>
                </thead>
            {volist name="books" id="book" }
            <tbody>
                  <tbody>
                      <td class="text-center">{$book.id}</td>
                      <td class="text-center">{$book.cate.catename}</td>
                      <td class="text-center">{$book.title}</td>
                      <td><p class="text">{$book.content}</p>...</td>
                      <td class="text-center">{$book.delete_time|date='Y-m-d H:i'}</td>
                      <td class="text-center">
                      <a href="#" class="btn btn-danger btn-sm huifu" role="button" data-id="{$book.id}">恢复</a>
                      </td>
                 </tbody>
                {/volist}
          </tbody>
        </table>
        <div class="text-center">{$books|raw}</div>
       </div>
          </div>
        </main>
    </div>
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/libs/layer/layer/layer.js"></script>
  <script>
  	$(function() {
      $('.huifu').click(function() {
        var id = $(this).data('id');  // 获取data-id的值
        layer.confirm('确定恢复么? ', {
          title: '栏目恢复',
          icon: 3  // 问号
        }, function(index) {
          layer.close(index); // 关闭确认对话框
          $.ajax({
            url: '{:url('admin/book/huifu')}',
            type: 'POST',
            data: {id: id},
            dataType: 'json',
          })
          .done(function(data) {
            if (data.code == 1) {
              layer.msg(data.msg, {
                icon: 6,
                time: 2000
              }, function() {
                location = data.url;
              });
            } else {
              layer.open({
                title: '恢复失败',
                content: data.msg,
                icon: 5,
                anim: 6
              });
            }
          });
        });
        return false;
      });
  		$('#logout').click(function() {
  			$.ajax({
  				url: '{:url('admin/login/logout')}',
  				type: 'POST',
  				dataType: 'json',
  			})
  			.done(function(data) {
  				if (data.code == 1) {
  					layer.msg(data.msg, {
  						icon: 6,
  						time: 2000
  					}, function() {
  						location = data.url;
  					});
  				} else {
  					layer.open({
  						title: '注销失败',
  						content: data.msg,
  						icon: 5,
  						anim: 6
  					});
  				}
  			});
  			return false;
  		});
      $('#sousuo').click(function() {
        $.ajax({
          url:'{:url('admin/book/sousuo')}',
          type:'POST',
          data:$('form').serialize(),
          dataType:'json',
        })
        .done(function(data){
          if(data.code==1){
            layer.msg(data.msg, {
              icon:6,
              time:2000
            }, function() {
              location=data.url;
            });
          }else{
            layer.open({
              title:'搜索失败',
              content:data.msg,
              icon:5,
              anim:6
            });
            }
        });
        return false;
      });
  	});
  </script>
</body>
</html>