
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>图书管理系统->图书页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link href="/static/css/justified-nav.css" rel="stylesheet">
    <style type="text/css">
      .fr{
        float: right;
        margin-right: 2em;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <div class="masthead">
        <h3 class="text-muted">图书管理系统</h3>
        <nav>
          <a href="{:url('admin/login/login')}" class="btn btn-info btn-sm fr">登录</a>
          <br>
          <br>
          <ul class="nav nav-tabs">
            <li class="active"><a href="{:url('index/index/index')}">点击返回</a></li>

          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>您好!</h1>
        <p class="lead">欢迎来到图书管理系统，管理员可以点击登录去添加书签和图书哦，点击右上角登录吧</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">
          <h2>图书信息</h2>
                  <table class="table table-hover table-outline mb-0 hidden-sm-down">
                <thead class="thead-default">
                  <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">类目名称</th>
                  <th class="text-center">图书名称</th>
                  <th class="text-center">添加时间</th>
                  </tr>
                </thead>
                {volist name="books" id="book" empty="暂时没有数据请先添加图书"}
                  <tbody>
                      <td class="text-center">{$book.id}</td>
                      <td class="text-center">{$book.cate.catename}</td>
                      <td class="text-center"><a href="{:url('index/index/show',['id'=>$book.id])}">{$book.title}</a></td>
                      <td class="text-center">{$book.create_time}</td>
                 </tbody>
                {/volist}
              </table>
              <div class="text-center">{$books|raw}</div>
        </div>
      </div>
      <footer class="footer">
      </footer>

    </div>
  </body>
</html>
