<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>图书管理系统栏目添加页</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <form >
            <input type="text" placeholder="请搜索" name="text">
            <button type="submit" id="sousuo" class="btn btn-sm btn-primary">搜索</button>
          </form>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item dropdown">
                <a class="nav-link navbar-toggler" href="#">{:session('admin.username')}！欢迎您！</a>
            </li>
            <li class="">
                <a class="nav-link navbar-toggler aside-menu-toggler" href="#" id="logout">退出</a>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('admin/index/index')}"><i class="icon-speedometer"></i> 后台首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{:url('admin/cate/add')}"><i class="icon-puzzle"></i>类目添加</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{:url('admin/cate/index')}"><i class="icon-star"></i> 类目列表</a>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">类目添加</li>
        </ol>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control text-center" id="catename" name="catename" placeholder="栏目名称">
            </div>
          </div>
          <div class="form-group text-center">
            <div class="col-sm-offset-2 col-sm-12">
              <button type="submit" class="btn btn-primary" id="add">添加</button>
            </div>
          </div>
        </form>
        </main>
    </div>
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/libs/layer/layer/layer.js"></script>
    <script>
    $(function() {
      $('#add').click(function() {
        $.ajax({
          url: '{:url('admin/cate/add')}',
          type: 'POST',
          data: $('form').serialize(),
          dataType: 'json',
        })
        .done(function(data) {
          if (data.code ==1) {
            layer.msg(data.msg, {
              icon: 6,
              time: 2000
            }, function() {
              location = data.url;
            });
          } else {
            layer.open({
              title: '添加失败',
              content: data.msg,
              icon: 5,
              anim: 6
            });
          }
        });
        return false;
      });
      $('#logout').click(function() {
        $.ajax({
          url: '{:url('admin/login/logout')}',
          type: 'POST',
          dataType: 'json',
        })
        .done(function(data) {
          if (data.code == 1) {
            layer.msg(data.msg, {
              icon: 6,
              time: 2000
            }, function() {
              location = data.url;
            });
          } else {
            layer.open({
              title: '注销失败',
              content: data.msg,
              icon: 5,
              anim: 6
            });
          }
        });
        return false;
      });
      $('#sousuo').click(function() {
        $.ajax({
          url:'{:url('admin/book/sousuo')}',
          type:'POST',
          data:$('form').serialize(),
          dataType:'json',
        })
        .done(function(data){
          if(data.code==1){
            layer.msg(data.msg, {
              icon:6,
              time:2000
            }, function() {
              location=data.url;
            });
          }else{
            layer.open({
              title:'搜索失败',
              content:data.msg,
              icon:5,
              anim:6
            });
            }
        });
        return false;
      });
    });
  </script>
</body>
</html>